.footer{

    background:#080808;

    padding:90px 0 30px;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer-grid{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:60px;

    margin-bottom:60px;

}

.footer-logo h2{

    color:#D4AF37;

    font-size:42px;

    margin-bottom:20px;

}

.footer-logo p{

    color:#bdbdbd;

    line-height:32px;

    max-width:420px;

}

.footer-links h3,

.footer-info h3{

    color:#fff;

    margin-bottom:25px;

}

.footer-links{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.footer-links a{

    color:#bdbdbd;

    text-decoration:none;

    transition:.3s;

}

.footer-links a:hover{

    color:#D4AF37;

    padding-left:10px;

}

.footer-info p{

    color:#bdbdbd;

    margin-bottom:18px;

    line-height:28px;

}

.footer-copy{

    border-top:1px solid rgba(255,255,255,.06);

    padding-top:30px;

    text-align:center;

    color:#8d8d8d;

}

@media(max-width:1000px){

.footer-grid{

grid-template-columns:1fr;

gap:45px;

text-align:center;

}

.footer-logo p{

margin:auto;

}

}
/* ==========================================
BOTÃO FLUTUANTE ADMIN
========================================== */

.admin-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    border-radius: 50%;

    background: #D4AF37;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 28px;

    z-index: 99999;

    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}