{% load static %}

<section class="hero" id="hero">

    <div class="hero-bg"></div>

    <div class="hero-mobile-content">

        <!-- FRASE -->
        <div class="hero-mobile-text">
            Agende seu corte de forma rápida, prática e fácil.
        </div>

        <!-- FOTO -->
        <div class="hero-mobile-photo">

            <div class="hero-photo-circle"></div>

            <img
                src="{% static 'images/davi.png' %}"
                alt="Davi Ivanov - Barbeiro"
            >

        </div>

        <!-- BOTÃO -->
        <a
            href="{% url 'agendamento' %}"
            class="hero-mobile-button"
        >
            Agendar Horário
        </a>

    </div>

</section>