<header>
    <nav>

        <a href="{% url 'home' %}" class="logo">
            Davi Ivanov
        </a>

        <div class="menu">

            <a href="{% url 'home' %}">Início</a>
            <a href="#sobre">Sobre</a>
            <a href="#servicos">Serviços</a>
            <a href="#portfolio">Portfólio</a>
            <a href="#contato">Contato</a>

            <a href="{% url 'agendamento' %}" class="btn-agendar">
                Agendar Horário
            </a>

        </div>

    </nav>
</header>