<header class="header">

    <div class="container">

        <nav class="navbar">

            <a href="{% url 'home' %}" class="logo">

                <div class="logo-icon">
                    ✂
                </div>

                <div class="logo-text">

                    <h2>Davi Ivanov</h2>

                    <span>BARBEIRO PROFISSIONAL</span>

                </div>

            </a>

            <ul class="menu">

                <li><a href="#hero">Início</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#contato">Contato</a></li>

            </ul>

            <a href="{% url 'agendamento' %}" class="btn-navbar">
                Agendar
            </a>

        </nav>

    </div>

</header>