{% load static %}

<section class="portfolio section" id="portfolio">

    <div class="container">

        <div class="section-title">

            <span>PORTFÓLIO</span>

            <h2>Resultados que falam por si</h2>

            <p>
                Cada corte é realizado com atenção aos detalhes para entregar estilo, personalidade e confiança.
            </p>

        </div>

        <div class="portfolio-grid">

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio1.jpg' %}" alt="Corte 1">

                <div class="portfolio-overlay">
                    <h3>Corte Masculino</h3>
                    <span>No seu estilo</span>
                </div>
            </div>

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio2.jpg' %}" alt="Corte 2">

                <div class="portfolio-overlay">
                    <h3>Cuidados</h3>
                    <span>Melhor experiência</span>
                </div>
            </div>

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio3.jpg' %}" alt="Corte 3">

                <div class="portfolio-overlay">
                    <h3>Todas as idades</h3>
                    <span>Público Amplo</span>
                </div>
            </div>

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio4.jpg' %}" alt="Corte 4">

                <div class="portfolio-overlay">
                    <h3>Barba Social</h3>
                    <span>Elegância</span>
                </div>
            </div>

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio5.jpg' %}" alt="Corte 5">

                <div class="portfolio-overlay">
                    <h3>Experiência</h3>
                    <span>Anos de mercado</span>
                </div>
            </div>

            <div class="portfolio-item">
                <img src="{% static 'images/portfolio6.jpg' %}" alt="Corte 6">

                <div class="portfolio-overlay">
                    <h3>Dedicação a todo momento</h3>
                    <span>Estilo Garantido</span>
                </div>
            </div>

        </div>

    </div>

</section>