<section class="servicos" id="servicos">

    <div class="section-title">
        <span>SERVIÇOS</span>
        <h2>Nossos Serviços</h2>
        <p>Escolha o serviço ideal e agende seu horário em poucos cliques.</p>
    </div>

    <div class="servicos-grid">

        <div class="card-servico">

            <div class="icone">💈</div>

            <h3>Corte</h3>

            <p>
                Corte moderno com acabamento profissional.
            </p>

            <strong>R$ 40,00</strong>

            <a href="{% url 'agendamento' %}" class="btn-primary">
    Agendar
</a>

        </div>

        <div class="card-servico">

            <div class="icone">🧔</div>

            <h3>Barba</h3>

            <p>
                Modelagem e acabamento com toalha quente.
            </p>

            <strong>R$ 30,00</strong>

            <a href="{% url 'agendamento' %}" class="btn-primary">
    Agendar
</a>

        </div>

        <div class="card-servico">

            <div class="icone">✂️</div>

            <h3>Combo</h3>

            <p>
                Corte + barba com atendimento completo.
            </p>

            <strong>R$ 60,00</strong>

            <a href="{% url 'agendamento' %}" class="btn-primary">
    Agendar
</a>

        </div>

    </div>

</section>